In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from decimal import *



#Helper Functions
def string_in_list(list, string):
   if string in list:
      return True
   else:
      return False

#Core Data Scraping

total_head2head = {"Kyle" : {},
                   "Aaditya" : {},
                   "Matt T" : {},
                   "Matt" : {},
                   "Webster" : {},
                   "Nolan" : {},
                   "Arjun" : {},
                   "Ignacio" : {},
                   "Harsha" : {},
                   "Andrew" : {},
                   "Dominic" : {},
                   "Previn" : {},
                   "Matt Z" : {},
                   "Stanley" : {},
                   "Henry" : {},
                   "Ed" : {}
                   }

######################## This section scrapes all drafting data by year ########################
for year in range(14, 24):
  print("Entering year 20" + str(year) + " ...")
  ## Get an updated dictionary of the year's owners and real name ##
  manager_names = "https://fantasy.nfl.com/league/2338570/history/20" + str(year) + "/owners"
  manager_web_response = requests.get(manager_names)
  manager_page = BeautifulSoup(manager_web_response.content, "html.parser")

  team_names_by_season = manager_page.find_all("a", class_="teamName")
  user_names_by_season = manager_page.find_all("td", class_="teamOwnerName")
  user_moves = manager_page.find_all("td", class_="teamTransactionCount numeric")
  user_trades = manager_page.find_all("td", class_="teamTradeCount numeric")

  season_team_name_master_list = []
  season_username_master_list = []
  moves = []
  trades = []
  cycle_count = 0
  alias = ["Xochimilco Axolotls", "West Loop Wyverns", "Toronto Angels", "Parry Sound Dragons", "Barrie Dragons" ]

  for manager in team_names_by_season:
    season_team_name_master_list.append(manager.get_text())
    name = user_names_by_season[cycle_count].get_text().strip()
    if name == "Jim":
      name = "Matt T"
    if string_in_list(alias, manager.get_text()):
       name = "Matt Z"
    season_username_master_list.append(name)
    moves.append(int(user_moves[cycle_count].get_text()))
    trades.append(int(user_trades[cycle_count].get_text()))
    cycle_count +=1

  team_to_player_dict = dict(zip(season_team_name_master_list, season_username_master_list))

  ## Create DataFrame with Player, Moves, and Trades by year ##
  move_trade_dict = {"Name" : season_username_master_list, "Moves" : moves, "Trades" : trades}
  name_moves_trade_df = pd.DataFrame.from_dict(move_trade_dict)
  name_moves_trade_df.index.name = "Season Transactions: Year 20" + str(year)
  # print(name_moves_trade_df)




  league_link = "https://fantasy.nfl.com/league/2338570/history/20" + str(year) + "/draftresults?draftResultsDetail=0&draftResultsTab=round&draftResultsType=results"
  
  nfl_webpage_response = requests.get(league_link)
  nfl_page = nfl_webpage_response.content
  nfl_soup = BeautifulSoup(nfl_page, "html.parser")

  nfl_draft_order = nfl_soup.find_all(attrs={"class": "count"})
  nfl_draft_players = nfl_soup.find_all(attrs={"class": "playerName"})
  draft_team_name_bs = nfl_soup.find_all("a", class_="teamName")
  nfl_draft_auction_for = nfl_soup.find_all("span", class_="auctionCost")

  draft_order = []
  auction_amount = []
  player_names = []
  draft_team_names = []
  cycle_count = 0

  for order in nfl_draft_order:
    order_to_number = order.get_text().split('.')[0]
    draft_order.append(int(order_to_number))
    player_names.append(nfl_draft_players[cycle_count].get_text())
    draft_team_names.append(team_to_player_dict.get(draft_team_name_bs[cycle_count].get_text()))
    cycle_count += 1
  
  cycle_count = 0

  for price in nfl_draft_auction_for:
    auction_to_number = (nfl_draft_auction_for[cycle_count].get_text()).split('$')[1]
    auction_amount.append(int(auction_to_number))

  if len(auction_amount) > 0:
    draft_2014_dict = {"Draft Number" : draft_order, "Player Name" : player_names, "Auction Amount": auction_amount, "Team Name": draft_team_names }
    draft_2014 = pd.DataFrame.from_dict(draft_2014_dict)
    draft_2014.index.name = "Auction Draft Results: Year 20" + str(year)
  else:
    draft_2014_dict = {"Draft Number" : draft_order, "Player Name" : player_names, "Team Name": draft_team_names }
    draft_2014 = pd.DataFrame.from_dict(draft_2014_dict)
    draft_2014.index.name = "Snake Draft Results: Year 20" + str(year)
  # print(draft_2014)

######################## This section scrapes all Win/Loss, Winning %, Regular Season Rankings, Points For/Against data by year ########################
  
  ## Get the Win/Loss Records, Points for/against, and regular season standings from Standings Page ##

  league_link_Standings = "https://fantasy.nfl.com/league/2338570/history/20" + str(year) + "/standings?historyStandingsType=regular"

  nfl_webpage_response_Standings = requests.get(league_link_Standings)
  nfl_soup_Standings = BeautifulSoup(nfl_webpage_response_Standings.content, "html.parser")

  ## Build ranking, name, win, loss, percent, points for, and points against arrays for DataFrame

  rank = []
  name = []
  wins = []
  losses = []
  percent_WL = []
  points_for = []
  points_against = []

  standings_rank = nfl_soup_Standings.find_all("span", class_="teamRank")
  standings_name = nfl_soup_Standings.find_all("a", class_="teamName")
  standings_wins_and_losses = nfl_soup_Standings.find_all("td", class_="teamRecord numeric")
  standings_percent_WL = nfl_soup_Standings.find_all("td", class_="teamWinPct numeric")
  standings_points_for = nfl_soup_Standings.find_all("td", class_="teamPts stat numeric")
  standings_points_against = nfl_soup_Standings.find_all("td", class_="teamPts stat numeric last")

  #reset cycle_count for next task  
  cycle_count = 0
  for team in standings_rank:
    rank.append(int(team.get_text()))
    user_team_match = team_to_player_dict.get(standings_name[cycle_count].get_text())
    name.append(user_team_match)
    win_loss_split = standings_wins_and_losses[cycle_count].get_text().split('-')
    wins.append(int(win_loss_split[0]))
    losses.append(int(win_loss_split[1]))
    percent_WL.append(float(standings_percent_WL[cycle_count].get_text()))
    points_for.append(float(standings_points_for[cycle_count].get_text().replace(',', '')))
    points_against.append(float(standings_points_against[cycle_count].get_text().replace(',', '')))
    cycle_count += 1

  #create DataFrame from arrays placed in dictionary
  standings_dict = {"Name" : name, "Rank" : rank, "Wins" : wins, "Losses" : losses, "Pct" : percent_WL, "Points For" : points_for, "Points Against" : points_against}
  standings_df = pd.DataFrame.from_dict(standings_dict)
  standings_df.index.name = " Regular Season Standings: Year 20" + str(year)
  # print(standings_df)

  ## Get Final Standings for each season ##
  nfl_final_standings_link = requests.get("https://fantasy.nfl.com/league/2338570/history/20" + str(year) + "/standings")
  nfl_final_standings_soup = BeautifulSoup(nfl_final_standings_link.content, "html.parser")

  ## Build final standing and name arrays for Dataframe ##
  final_standing = []
  person = []

  final_standing_tags = nfl_final_standings_soup.find_all("div", class_="place")
  person_tags = nfl_final_standings_soup.find_all("a", class_="teamName")
  
  #reset cycle_count for next task  
  cycle_count = 1
  for place in final_standing_tags:
    final_standing.append(place.get_text())
    person.append(team_to_player_dict.get(person_tags[cycle_count].get_text()))
    cycle_count += 1
  
  #create DataFrame for arrays into dictionary
  final_standings_dict = {"Name" : person, "Place" : final_standing}
  final_standings_df = pd.DataFrame.from_dict(final_standings_dict)
  final_standings_df.index.name = "Season Final Standings: Year 20" + str(year)
  # print(final_standings_df)

######################## This section scrapes all H2H data including win/loss, points for/against, and win pecentage against each player for the year data by year ########################
  reg_season = 14
  if(year >= 19 and year < 21):
    reg_season = 12
  elif year >= 21:
    reg_season = 13
  ## Get the Win/Loss Records, Points for/against, and regular season standings from Standings Page ##
  for team_num in range(1, len(season_username_master_list) + 1):
    league_link_head2head = "https://fantasy.nfl.com/league/2338570/history/20" + str(year) + "/schedule?standingsTab=schedule&scheduleType=team&leagueId=2338570&scheduleDetail=" + str(team_num)

    nfl_webpage_response_head2head = requests.get(league_link_head2head)
    nfl_soup_head2head = BeautifulSoup(nfl_webpage_response_head2head.content, "html.parser")

    ## Build opponent list, win/loss, and points
    yearly_head2head = {}

    ## This doesn't work because it assigns all member the same referenced dictionary and they all update together
    # week_opponent_stats_dict = {
    #   "Win" : 0,
    #   "Loss" : 0,
    #   "pf" : 0,
    #   "pa" : 0
    # }
    head2head_team = nfl_soup_head2head.find_all("h2", class_="teamName")
    head2head_opponent = nfl_soup_head2head.find_all("div", class_="teamImageAndNameWrap")
    head2head_wins_and_losses = nfl_soup_head2head.find_all("em", class_="resultText")
    head2head_points_for = nfl_soup_head2head.find_all("em", class_="teamTotal")

    opponent = []
    wins = []
    percent_WL = []
    points_for = []
    points_against = []
    reg_season_stats_name = team_to_player_dict.get(head2head_team[0].get_text().strip())



    for week in range(reg_season):

      weekOpponent = team_to_player_dict.get(head2head_opponent[week].get_text().strip())
      if yearly_head2head.get(weekOpponent) == None:
        yearly_head2head.update({weekOpponent : {
        "Win" : 0,
        "Loss" : 0,
        "pf" : 0,
        "pa" : 0
        }})
      
      yearly_head2head[weekOpponent][head2head_wins_and_losses[week].get_text()] += 1
      yearly_head2head[weekOpponent]["pf"] = round((yearly_head2head[weekOpponent]["pf"] + float(head2head_points_for[week * 2].get_text())), 2)
      yearly_head2head[weekOpponent]["pa"] = round((yearly_head2head[weekOpponent]["pa"] + float(head2head_points_for[week * 2 + 1].get_text())), 2)
    # print(yearly_head2head)
    total_head2head[reg_season_stats_name]["20" + str(year)] = yearly_head2head
    # print(reg_season_stats_name)

    # print(total_head2head[reg_season_stats_name])
  print("Exiting year 20" + str(year) + " ...")
  
# print(total_head2head["Kyle"])
def gather_total_stats(name):
  # index = 0
  stat_builder = {}
  for year in total_head2head[name]:
    for year_obj in year:
      for opponent in year[year_obj]:
        if stat_builder.get(opponent) == None:
          stat_builder[opponent] = {
          "Win" : year[year_obj][opponent]["Win"],
          "Loss" : year[year_obj][opponent]["Loss"],
          "pf" : year[year_obj][opponent]["pf"],
          "pa" : year[year_obj][opponent]["pa"]
          }
          continue
        stat_builder[opponent]["Win"] += year[year_obj][opponent]["Win"]
        stat_builder[opponent]["Loss"] += year[year_obj][opponent]["Loss"]
        stat_builder[opponent]["pf"] = round(stat_builder[opponent]["pf"] + year[year_obj][opponent]["pf"], 2)
        stat_builder[opponent]["pa"] = round(stat_builder[opponent]["pa"] + year[year_obj][opponent]["pa"], 2)
  return stat_builder


print(total_head2head["Harsha"]["2022"]["Nolan"]["Win"])
test_df = pd.DataFrame.from_dict({(name, year, opponent): total_head2head[name][year][opponent]
                           for name in total_head2head.keys() 
                           for year in total_head2head[name].keys()
                           for opponent in total_head2head[name][year].keys()},
                       orient='index')
    
test_df.index = pd.MultiIndex.from_tuples(test_df.index)
print(test_df)
        # "Win" : total_head2head[name][index][year][opponent]["Win"],

Entering year 2022 ...
Exiting year 2022 ...
Entering year 2023 ...
Exiting year 2023 ...
2
                   Win  Loss      pf      pa
Kyle 2022 Harsha     1     1  247.88  233.28
          Henry      1     1  255.90  189.24
          Ed         1     0  121.78   88.52
          Nolan      1     0  143.04  122.36
          Aaditya    0     1   94.50  101.86
...                ...   ...     ...     ...
Ed   2023 Matt T     0     1  121.42  155.20
          Aaditya    1     0  144.20   82.46
          Webster    0     1   85.94  140.04
          Matt       0     1   98.62  158.40
          Ignacio    1     0  140.18  133.08

[264 rows x 4 columns]

In [3]:
pd.set_option('display.max_rows', None)

In [4]:
test_df

                      Win  Loss      pf      pa
Kyle    2022 Harsha     1     1  247.88  233.28
             Henry      1     1  255.90  189.24
             Ed         1     0  121.78   88.52
             Nolan      1     0  143.04  122.36
             Aaditya    0     1   94.50  101.86
             Ignacio    1     0   88.96   83.78
             Webster    0     1   82.32  120.98
             Stanley    1     0  140.32  115.80
             Previn     1     0  147.72   70.20
             Matt       0     1   94.78  108.98
             Matt Z     0     1   84.58  164.12
        2023 Ignacio    2     0  237.00  213.92
             Matt T     1     1  221.34  242.06
             Aaditya    1     0  144.76  142.56
             Webster    1     0  141.76   73.80
             Matt       1     0   91.08   77.52
             Ed         0     1  124.36  160.62
             Stanley    1     0  152.44  102.74
             Harsha     0     1   97.18  129.64
             Nolan      0     1   72.28   96.20
             Henry      1     0  113.82   86.06
             Matt Z     1     0  134.04  114.58
Aaditya 2022 Matt       1     1  252.86  302.86
             Matt Z     1     1  286.96  278.36
             Harsha     0     1  101.64  131.88
             Henry      0     1  125.20  130.78
             Kyle       1     0  101.86   94.50
             Nolan      0     1  104.78  111.50
             Ed         0     1   85.48   98.82
             Ignacio    1     0  189.04   91.80
             Webster    0     1   97.18  111.00
             Stanley    1     0  150.16  108.10
             Previn     0     1   63.22  121.44
        2023 Henry      0     2  210.62  270.82
             Matt Z     1     1  256.94  242.80
             Kyle       0     1  142.56  144.76
             Matt T     1     0  101.00  100.40
             Ignacio    1     0  121.60  113.00
             Webster    0     1   81.16   83.66
             Matt       0     1   84.42   88.00
             Ed         0     1   82.46  144.20
             Stanley    1     0  127.08  113.38
             Harsha     1     0  110.64  105.22
             Nolan      1     0  128.40  115.60
Matt T  2023 Matt Z     0     2  183.98  237.88
             Kyle       1     1  242.06  221.34
             Ignacio    1     0  155.90  109.34
             Aaditya    0     1  100.40  101.00
             Webster    1     0  176.28   91.24
             Matt       1     0  130.66  102.60
             Ed         1     0  155.20  121.42
             Stanley    0     1  111.96  142.26
             Harsha     0     1   79.32  107.82
             Nolan      1     0  125.20  111.36
             Henry      1     0  121.62   97.40
Matt    2022 Aaditya    1     1  302.86  252.86
             Ignacio    2     0  294.68  162.94
             Webster    0     1   82.90   90.58
             Stanley    1     0  158.40   98.86
             Previn     1     0  132.54  123.22
             Ed         1     0  112.74   89.64
             Matt Z     1     0  147.64   90.68
             Harsha     1     0  132.24   80.02
             Henry      1     0  112.56   89.78
             Kyle       1     0  108.98   94.78
             Nolan      1     0  165.54  112.28
        2023 Harsha     0     2  201.18  233.00
             Nolan      1     1  209.78  209.08
             Henry      0     1   86.80  126.68
             Matt Z     0     1   80.52  135.94
             Kyle       0     1   77.52   91.08
             Matt T     0     1  102.60  130.66
             Aaditya    1     0   88.00   84.42
             Webster    1     0  151.98  147.96
             Ignacio    1     0  155.46  138.10
             Ed         1     0  158.40   98.62
             Stanley    1     0  133.10  120.14
Webster 2022 Stanley    1     1  219.22  254.22
             Previn     1     1  213.82  178.24
             Matt       1     0   90.58   82.90
             Matt Z     0     1  103.96  107.42
             Harsha     1     0  150.54  129.68
             Henry      1     0  105.16   98.78
             Kyle       1     0  120.98   82.32
             Nolan      0     1  133.54  151.36
             Aaditya    1     0  111.00   97.18
             Ignacio    1     0  119.18  112.88
             Ed         1     0  136.24   93.06
        2023 Nolan      2     0  216.28  201.12
             Henry      1     1  213.06  220.80
             Matt Z     1     0  121.42  116.62
             Kyle       0     1   73.80  141.76
             Matt T     0     1   91.24  176.28
             Aaditya    1     0   83.66   81.16
             Ignacio    0     1   64.50  121.56
             Matt       0     1  147.96  151.98
             Ed         1     0  140.04   85.94
             Stanley    1     0  159.48  152.00
             Harsha     0     1   86.66   88.08
Nolan   2022 Matt Z     1     1  217.86  238.56
             Harsha     0     2  160.18  226.18
             Henry      1     0  126.76  103.00
             Kyle       0     1  122.36  143.04
             Ed         1     0  129.06  112.64
             Aaditya    1     0  111.50  104.78
             Ignacio    0     1   98.88  128.58
             Webster    1     0  151.36  133.54
             Stanley    1     0  126.40  116.00
             Previn     1     0  122.16   67.16
             Matt       0     1  112.28  165.54
        2023 Webster    0     2  201.12  216.28
             Matt       1     1  209.08  209.78
             Ed         0     1   88.34  154.36
             Stanley    0     1  107.54  152.42
             Harsha     1     0  118.80  109.60
             Ignacio    0     1   93.14  127.80
             Henry      0     1   58.30  134.44
             Matt Z     1     0  108.22   87.82
             Kyle       1     0   96.20   72.28
             Matt T     0     1  111.36  125.20
             Aaditya    0     1  115.60  128.40
Ignacio 2022 Previn     1     1  248.36  194.88
             Matt       0     2  162.94  294.68
             Matt Z     1     0  113.44   99.54
             Harsha     0     1   91.82  127.04
             Henry      1     0  103.36   82.30
             Kyle       0     1   83.78   88.96
             Nolan      1     0  128.58   98.88
             Aaditya    0     1   91.80  189.04
             Ed         0     1   98.30   99.40
             Webster    0     1  112.88  119.18
             Stanley    1     0  135.40   97.14
        2023 Kyle       0     2  213.92  237.00
             Stanley    2     0  255.46  224.18
             Matt T     0     1  109.34  155.90
             Harsha     1     0  116.10  112.64
             Aaditya    0     1  113.00  121.60
             Nolan      1     0  127.80   93.14
             Webster    1     0  121.56   64.50
             Henry      0     1  118.82  122.64
             Matt       0     1  138.10  155.46
             Matt Z     0     1  102.80  121.26
             Ed         0     1  133.08  140.18
Harsha  2022 Kyle       1     1  233.28  247.88
             Nolan      2     0  226.18  160.18
             Aaditya    1     0  131.88  101.64
             Ignacio    1     0  127.04   91.82
             Webster    0     1  129.68  150.54
             Stanley    0     1  106.10  111.62
             Previn     1     0  137.28  122.92
             Matt       0     1   80.02  132.24
             Matt Z     1     0  119.26  100.58
             Ed         0     1   75.30  136.56
             Henry      1     0  115.78   95.76
        2023 Matt       2     0  233.00  201.18
             Ed         1     1  236.84  290.94
             Stanley    1     0  131.00  107.04
             Ignacio    0     1  112.64  116.10
             Nolan      0     1  109.60  118.80
             Henry      1     0  133.06  105.80
             Matt Z     1     0  107.48  105.04
             Kyle       1     0  129.64   97.18
             Matt T     1     0  107.82   79.32
             Aaditya    0     1  105.22  110.64
             Webster    1     0   88.08   86.66
Previn  2022 Ignacio    1     1  194.88  248.36
             Webster    1     1  178.24  213.82
             Stanley    0     1  105.04  115.16
             Ed         0     1   82.48  109.08
             Matt       0     1  123.22  132.54
             Matt Z     1     0  122.44   91.02
             Harsha     0     1  122.92  137.28
             Henry      1     0  130.06   78.02
             Kyle       0     1   70.20  147.72
             Nolan      0     1   67.16  122.16
             Aaditya    1     0  121.44   63.22
Matt Z  2022 Nolan      1     1  238.56  217.86
             Aaditya    1     1  278.36  286.96
             Ignacio    0     1   99.54  113.44
             Webster    1     0  107.42  103.96
             Stanley    0     1  105.66  133.36
             Previn     0     1   91.02  122.44
             Matt       0     1   90.68  147.64
             Ed         0     1  137.60  169.30
             Harsha     0     1  100.58  119.26
             Henry      0     1  109.10  114.84
             Kyle       1     0  164.12   84.58
        2023 Matt T     2     0  237.88  183.98
             Aaditya    1     1  242.80  256.94
             Webster    0     1  116.62  121.42
             Matt       1     0  135.94   80.52
             Ed         0     1   97.88  136.36
             Stanley    1     0   90.22   88.24
             Harsha     0     1  105.04  107.48
             Nolan      0     1   87.82  108.22
             Henry      1     0  124.38   82.62
             Ignacio    1     0  121.26  102.80
             Kyle       0     1  114.58  134.04
Stanley 2022 Webster    1     1  254.22  219.22
             Ed         1     1  218.02  219.72
             Previn     1     0  115.16  105.04
             Matt       0     1   98.86  158.40
             Matt Z     1     0  133.36  105.66
             Harsha     1     0  111.62  106.10
             Henry      1     0  149.32  100.36
             Kyle       0     1  115.80  140.32
             Nolan      0     1  116.00  126.40
             Aaditya    0     1  108.10  150.16
             Ignacio    0     1   97.14  135.40
        2023 Ed         0     2  221.74  289.34
             Ignacio    0     2  224.18  255.46
             Harsha     0     1  107.04  131.00
             Nolan      1     0  152.42  107.54
             Henry      0     1  106.78  116.74
             Matt Z     0     1   88.24   90.22
             Kyle       0     1  102.74  152.44
             Matt T     1     0  142.26  111.96
             Aaditya    0     1  113.38  127.08
             Webster    0     1  152.00  159.48
             Matt       0     1  120.14  133.10
Henry   2022 Ed         0     2  214.32  250.20
             Kyle       1     1  189.24  255.90
             Nolan      0     1  103.00  126.76
             Aaditya    1     0  130.78  125.20
             Ignacio    0     1   82.30  103.36
             Webster    0     1   98.78  105.16
             Stanley    0     1  100.36  149.32
             Previn     0     1   78.02  130.06
             Matt       0     1   89.78  112.56
             Matt Z     1     0  114.84  109.10
             Harsha     0     1   95.76  115.78
        2023 Aaditya    2     0  270.82  210.62
             Webster    1     1  220.80  213.06
             Matt       1     0  126.68   86.80
             Ed         1     0  139.86   95.36
             Stanley    1     0  116.74  106.78
             Harsha     0     1  105.80  133.06
             Nolan      1     0  134.44   58.30
             Ignacio    1     0  122.64  118.82
             Matt Z     0     1   82.62  124.38
             Kyle       0     1   86.06  113.82
             Matt T     0     1   97.40  121.62
Ed      2022 Henry      2     0  250.20  214.32
             Stanley    1     1  219.72  218.02
             Kyle       0     1   88.52  121.78
             Previn     1     0  109.08   82.48
             Nolan      0     1  112.64  129.06
             Matt       0     1   89.64  112.74
             Aaditya    1     0   98.82   85.48
             Matt Z     1     0  169.30  137.60
             Ignacio    1     0   99.40   98.30
             Harsha     1     0  136.56   75.30
             Webster    0     1   93.06  136.24
        2023 Stanley    2     0  289.34  221.74
             Harsha     1     1  290.94  236.84
             Nolan      1     0  154.36   88.34
             Henry      0     1   95.36  139.86
             Matt Z     1     0  136.36   97.88
             Kyle       1     0  160.62  124.36
             Matt T     0     1  121.42  155.20
             Aaditya    1     0  144.20   82.46
             Webster    0     1   85.94  140.04
             Matt       0     1   98.62  158.40
             Ignacio    1     0  140.18  133.08